/* - - - - - - - - - - - - - - - - - - - */
/* Used to know when content has finished rendering */
/* - - - - - - - - - - - - - - - - - - - */
#transitionElement {
    padding: 0px;
    margin: 0px;
    -webkit-transform: translate3d(0, 0, 0);
}

#transitionElement.finish {
    -webkit-transform: translate3d(0, 0, 1px);
    -webkit-transition-duration: 1ms;
}
